.DS_Store/
.idea/

# Build
vendor/
build/
tools-stamp


# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea

# Data - ideally these don't exist
client/lcd/keys/*
client/lcd/statik/statik.go

# Testing
coverage.txt
profile.out

# Vagrant
.vagrant/
*.box
*.log
vagrant

# Graphviz
dependency-graph.png

# Latex
*.aux
*.out
*.synctex.gz